*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    flex-wrap: wrap;
}
.password-generator{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    width: 42%;
    align-items: center;
    background: #000;
    color: white;
    font-size: 20px;
    border: 1px black solid;
    text-align: center;
    border-radius: 4px;
}
.password{
    border: 1px white solid;
    padding: 1rem 2rem;
    border-radius: 4px;
}
.generate-btn,.chnge-theme{
    padding: 0.5rem 1rem;
    font-weight: 500;
    border-radius: 4px;
}
.light{
    background: white;
    color: black;
}
.light .password{
    border: #000 1px solid;
}
.light .generate-btn{
    background: #000;
    color: white;
}
.light-btn{
    background: #000;
    color: white;
}
